body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
  box-sizing: border-box;
  flex-direction: column;
}
.post{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background-color: white;
  flex-direction: column;
}
.header{
  width: 100%;
  display: inline-flex;
  padding: 10px;
}
.left{
  width: 60%;
  display: inline-flex;
}
.right{
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding-right: 25px;
}
.icon{
  padding: 10px;
}

.iconos{
  width: 100%;
  display: inline-flex;
  padding: 10px
}
.description{
  width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
.reacciones{
  padding-left: 15px;
}